.upcoming {
  position: relative;
  margin-top: 90px;

  @include onTablet {
    margin-top: 105px;
  }

  @include onDesktop {
    margin-top: 110px;
  }

  &__events {
    display: grid;
    row-gap: 60px;
    padding-bottom: 90px;

    @include onTablet {
      grid-template-columns: repeat(2, 1fr);
      column-gap: 30px;
    }
  }

  &__content {
    margin-bottom: 60px;
  }

  &__photo {
    width: 100%;
  }

  &__button {
    display: flex;
    gap: 30px;
    flex-direction: column;
  }

  &__bottom-section {
    @include pageGrid;
    background-color: $bg-color;

    &__content {
      color: inherit;
      padding-block: 50px;
    }

    &__text {
      @include onTablet {
        grid-column: 1/-1;
      }

      @include onDesktop {
        grid-column: 7/-1;
      }

    }

    &__button {
      @include onTablet {
        grid-column: span 3;
      }
    }

    &__item {
      margin-bottom: 40px;
    }
  }

}
