$c-gray: #eee;
$bg-color: #3f5252;
$title-color: white;
$button-color : #cd4d31;
$tablet-min-width: 576px;
$desktop-min-width: 1024px;
$section-title-color: #1c1b29;
$exhibitions-text-color: #cd4d31;
$landing-text-color: #504f5e;
$button-hover-color: #af3419;
$button-activecolor: #ea340d;
$button-disabled-color: #dd836f;
